BITFROST_TOPIC_LECTURER_SECRET=<bitfrost-topic-lecturer-secret>
CLIENT_SECRET=<keycloak-client-secret>
MINIO_ENDPOINT=<minio-endpoint>
MINIO_SECRET_KEY=<minio-secret-key>
MINIO_ACCESS_KEY=<minio-access-key>

